dash==1.18.1
dash-bootstrap-components==0.11.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
Flask==1.1.2
Flask-Compress==1.8.0
jsonschema==3.2.0
MarkupSafe==1.1.1
pandas==1.0.4
plotly==4.14.1
requests==2.25.1
